/* Lexend fontunu tüm başlıklar için zorunlu yapalım */
body {
    font-family: 'Lexend', sans-serif;
}

h1, h2, h3, .font-black {
    font-family: 'Lexend', sans-serif;
    font-weight: 900; /* En kalın hali */
}

/* Arka plan konumu (Sol alt tarafa çekildi) */
.background-position-custom {
    background-position: left bottom;
}

/* Navigasyon butonları için aktiflik durumu */
.nav-btn.active {
    color: white;
    border-bottom: 2px solid #74211b; /* #74211b rengi çizgi */
}

/* Sayfa geçişleri için gizleme sınıfı */
.hidden {
    display: none !important;
}

/* Kural numarası stili */
.rule-item span {
    display: inline-block;
    color: #74211b; /* #74211b rengi */
}

/* Kopyalandı bildirimi animasyon aktif hali */
#copy-toast.show {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
}
